@model WebScrappingApp.Models.WebScrapingResult

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Edit</title>
</head>
<body>

  <h2>Rebuild to see the changes</h2>
  <hr />
  <div class="editContent">



    
      @* We need line 19 to run de Edit :) *@


  </div>
</body>
</html>
