@model WebScrappingApp.Models.WebScrapingResult

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Edit</title>
</head>
<body>

  <h2>WebScrapingResult</h2>
  <h6>Bellow is the result</h6>
  <hr />
  <div class="editContent">



    <div>
      not me
      <div>
        not me
        <div>
          not me
          <div>
            not me
            <div>
              not me
              <div>
                not me
                <div>
                  not me
                  <div>
                    not me
                    <div>
                      not me
                      <div>find me if you can</div>
                      also not me
                    </div>
                    also not me
                  </div>
                  also not me
                </div>
                also not me
              </div>
              also not me
            </div>
            also not me
          </div>
          also not me
        </div>
        also not me
      </div>
      also not me
    </div>

  </div>
</body>
</html>
